.oddity-script
{ font-family: "oddity-script", sans-serif;
font-weight: 300;
font-style: normal;
font-size: var(--big-size);
} 

:root {
    --big-size: 2em;
  }
  

  h1 {
    font-size: 0.8em; 
  }
  
  h1 span {
    font-size: var(--big-size);
  }
  

body {
    --spacing: 2em;
    --base-size: 12px;
    --gutter: calc(3 x var(--base-size));
   
    --color--primary: #fbfbfb;
    --color--secondary:#2D6115;
    --color--background:BLACK; 
    
    --title-size: 100px;
    --body-size: 20px;
    

}

body {
  background-image: url('../images/default.jpg');
  background-attachment: fixed; /* Keeps the image fixed in place when scrolling */
  background-size: cover; /* Makes sure the image covers the entire screen */
  background-position: center; /* Centers the image */
}



button {
	background-color: var(--color--secondary);
  color: var(--color--primary);
	padding: 10px;
  cursor: pointer;
}

   body {
       font-size: var(--body-size);
   }

   h1 {
    font-size: var(--title-size);
    color: var(--color--secondary);
   }

   header {
       padding-inline: var(--gutter-size);
       padding-block: calc(5 * var(--base-size));
   }
   


  h1 {
    font-size: var(--title-size);
    color: var(--color--secondary);
    text-align: center; 
  }

  #channel-blocks li {
 
      display: block;
      width: 200px;
      text-align: center;
      
    }
    
    .audio-block audio {
      width: 280px;
      height: 200px;
    }


   
.video-block video {
  width: 100%;  
  max-width: 200px; /* Limits the video size to a reasonable max width */
  height: auto;  /* Keeps the aspect ratio intact */
  display: block; /* Removes any space below the video */
}
 
.show-link li {
  display: none;
}

.show-video li .video-block {
  display: block;
}

#channel-blocks li {
  width: 250px; 
  height: 250px;  
  border-radius: 0 160px;  
  margin: 20px;  
  display: inline-block; 
  position: relative; 
  background-color: greenyellow;  
  overflow: hidden;
}
/* source: https://codepen.io/yochans/pen/vYxPdKz */

#channel-blocks {
  width: 100vw; 
  height: 100vh;  
 
}


