:root {
  --big-size: 2em;
  --spacing: 2em;
  --base-size: 12px;
  --gutter: calc(3 * var(--base-size)); 
  --color--primary: black; 
  --color--secondary: rgb(138, 216, 22);
  --color--tertiary: rgb(60, 4, 4);
  --color--quartery: white;

  --color--green-1: rgb(3, 199, 101);     /* Dark Mint Green */
  --color--green-2: rgb(12, 162, 12);      /* Dark Forest Green */
  --color--green-3: rgb(5, 144, 74);     /* Dark Emerald Green */
  --color--green-4: rgb(85, 85, 0);      /* Dark Olive Green */
  --color--green-5: rgb(3, 51, 3);      /* Dark Sea Green */
  
  

  --title-size: 100px;
  --body-size: 20px;
}

body {
  font-size: var(--body-size);
  background-image: url('../images/default.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-color: var(--color--quartery); /* Added background color */
}

h1 {
  font-size: var(--title-size);
  color: var(--color--secondary);
  text-align: center;
}

h1 span {
  font-size: var(--big-size);
}

.oddity-script {
  font-family: "oddity-script", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: var(--big-size);
}

header {
  padding-inline: var(--gutter);
  padding-block: calc(5 * var(--base-size));
}

#channel-blocks {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}


#channel-blocks li {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  margin: 20px;
  position: relative;
  background-color: var(--color--secondary);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

#channel-blocks li:hover {
  border-radius: 0%; 
/* border: 10px solid var(--color--tertiary);  */
  width: 200px;
  height: 200px;
  border: var(--color--green-5) 10px solid;
}
/* .clicked-img{
  width: 220px;
  height: 220px;
} */

dialog{
  width: 1000px;
  height: 500px;
  background-color: var(--color--green-5);
  position:fixed;
  top: 50%;
  left: 50%;
  z-index:10000;
  transform: translate(-50%, -50%);
}

dialog  img{
  max-block-size:400px;
  width: 400px;
  height: 400px;
  object-fit: cover;
}

::backdrop{
  background-color: var(green);
  backdrop-filter: blur(10px);
}


body:has(dialog[open]){
  overflow: hidden;
}


image-block:has(dialog[open]){
  background-color: var(--green--1);
}

#channel-blocks li .content {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
} 

.audio-block audio {
  width: 280px;
  height: 200px;
}

.video-block video {
  width: 100%;
  max-width: 200px;
  height: auto;
  display: block;
}


header {
  display: flex; 
  justify-content: center; 
  gap: 40px;
  background-color: var(--color--secondary);
  width: 100%;  
  top: 0;
}

a {
  text-decoration: none; 
  color: black; 
  font-size: 1.2em;
}


/* buttons */ 

/*link button*/
#channel-blocks.show-links .link-block {
  display: block;
}

#channel-blocks.show-links .video-block,
#channel-blocks.show-links .image-block,
#channel-blocks.show-links .audio-block,
#channel-blocks.show-links .text-block {
  display: none;
};

/*video  button*/
#channel-blocks.show-video .video-block {
  display: block;
}

#channel-blocks.show-video .link-block,
#channel-blocks.show-video .image-block,
#channel-blocks.show-video .audio-block,
#channel-blocks.show-video .text-block {
  display: none;
};

/*text  button*/
#channel-blocks.show-text .text-block {
  display: block;
}

#channel-blocks.show-text .link-block,
#channel-blocks.show-text .video-block,
#channel-blocks.show-text .image-block,
#channel-blocks.show-text .audio-block {
  display: none;
}

/*image button*/
#channel-blocks.show-image .image-block {
  display: block;
}

#channel-blocks.show-image .video-block,
#channel-blocks.show-image .links-block,
#channel-blocks.show-image .audio-block,
#channel-blocks.show-image .text-block {
  display: none;
};


button {
  color: var(--color--quartery);
  cursor: pointer;
}

#show-links-button {
  background-color: var(--color--green-1);
}

#show-video-button {
  background-color: var(--color--green-2);
}

#show-image-button {
  background-color: var(--color--green-3);
}

#show-audio-button {
  background-color: var(--color--green-4);
}

#show-all-button {
  background-color: var(--color--green-5);
}

.image-scroll-container {
  display: flex; 
  flex-direction: row;
  overflow-x: auto; 
  gap: 50px; 
  padding: 20px;
  filter: blur(10px);
}

.image-scroll-container:hover {
  filter: blur(0);
}

dialog [open] {
  display: grid; 
  grid-template-columns: repeat(2, minmax(0,1fr));
  inset: var(--spacing);
}


img {
  max-block-size: 250px;
  max-inline-size: 250px;
}
/* shape inspired by https://codepen.io/huichops/pen/gObbxyw*/







/* CSS ISSUES */ 
/* why are images going back into circle shape when you hover over brown frame*/
/* add some type of overlay to green blocks*/
/* figure out how to make sideways scroll gallery smaller*/ 


/*JS ISSUES*/

/* fix buttons on gallery page - why arent they working */ 
/*modal isnt coming up - its showing inside the block - how do i geti t to appear outside the block like the loom example*/
